@import "../colors/colors.scss";
@import "../animations/transition.scss";

// Button
.btn {
    border-color: $tertiary-color;
}

.btn-primary,
.btn-secondary {
    background-color: $tertiary-color;
    color: $primary-color;
    border-color: $tertiary-color;
    border-radius: 3.75rem;
    
    transition: $transition-time;

    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
        transform: scale(0.98);
    }

    &:focus {
        background-color: $tertiary-color;
        border-color: $tertiary-color;
        color: $primary-color;
        box-shadow: none;
    }
}