// Book's list - height
$book-list-height: 250rem;

// single Book - height
$book-height: 18rem;
$book-height-sm: 16rem;

// Book - title - font size
$title-font-size: 1.5rem;
$title-font-size-sm: 1.7rem;
$title-font-size-md: 1.9rem;
$title-font-size-l: 2.1rem;
$title-font-size-xl: 1.6rem;
$title-font-size-xxl: 1.6rem;

// Book - authors - font size
$authors-font-size: 1.25rem;
$authors-font-size-sm: 1.35rem;
$authors-font-size-md: 1.25rem;
$authors-font-size-l: 1.8rem;
$authors-font-size-xl: 1.25rem;
$authors-font-size-xxl: 1.25rem;