@import "./fonts/fonts.scss";
@import "./colors/colors.scss";
// Animation
@import "./animations/transition.scss";
// Components
@import "./components/card.scss";
@import "./components/button.scss";

/* ------- General style ------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    font-family: $font-family;
    background-color: $primary-color;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Welcome's section */
.welcome {
    margin-top: 1rem;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 10rem;

        .title {
            min-width: 15rem;
            text-align: center;
        }
    }

    .form {
        min-width: 15rem;
        min-height: 4rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-input {
            min-width: 15rem;
            text-align: center;
            border-radius: 3.75rem;
            color: $primary-color-inverse;
            background-color: $secondary-color;
            transition: $transition-time;
            border: none;
        }
        &-input:focus {
            background-color: $tertiary-color;
            border-color: $primary-color;
            box-shadow: 0 0 0 1px $primary-color;
        }
        &-buttons {
            margin-top: 0.5rem;
            min-width: 15rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button {
                min-width: 6rem;
                max-height: 2.5rem;
                border-color: $primary-color-inverse;
                box-shadow: none;
            }
        }
    }
}


// Media queries
@import "./mediaqueries/small.scss";
@import "./mediaqueries/medium.scss";
@import "./mediaqueries/large.scss";
@import "./mediaqueries/large-xl.scss";
@import "./mediaqueries/large-xxl.scss";