@import '../colors/colors.scss';

// Font - type
$font-family: 'PT Sans', sans-serif;

// Setting text's color
h1, h2, h3, h4, h5, h6, p, a {
    color: $secondary-color;
}

// Book - title - font size
$title-font-size: 1.5rem;
$title-font-size-sm: 1.7rem;
$title-font-size-md: 1.9rem;
$title-font-size-l: 2.1rem;
$title-font-size-xl: 2.6rem;
$title-font-size-xxl: 2.8rem;

// Book - authors - font size
$authors-font-size: 1.25rem;
$authors-font-size-sm: 1.35rem;
$authors-font-size-md: 1.25rem;
$authors-font-size-l: 1.8rem;